{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-export-extensions",
    "transform-react-display-name",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "presets": []
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
